<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.AdminactionsMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Adminactions">
            <id property="actionId" column="action_id" />
            <result property="adminId" column="admin_id" />
            <result property="actionType" column="action_type" />
            <result property="targetType" column="target_type" />
            <result property="targetId" column="target_id" />
            <result property="details" column="details" />
            <result property="actionTime" column="action_time" />
    </resultMap>

    <sql id="Base_Column_List">
        action_id,admin_id,action_type,target_type,target_id,details,
        action_time
    </sql>
</mapper>
