<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.CategoriesMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Categories">
            <id property="categoryId" column="category_id" />
            <result property="name" column="name" />
    </resultMap>

    <sql id="Base_Column_List">
        category_id,name
    </sql>
</mapper>
