<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.FeedbacksMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Feedbacks">
            <id property="feedbackId" column="feedback_id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        feedback_id,user_id,content,create_time
    </sql>
</mapper>
