<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.ItemsMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Items">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="appid" column="appid" />
            <result property="assetid" column="assetid" />
            <result property="classid" column="classid" />
            <result property="instanceid" column="instanceid" />
            <result property="iconUrl" column="icon_url" />
            <result property="name" column="name" />
            <result property="type" column="type" />
            <result property="marketName" column="market_name" />
            <result property="marketHashName" column="market_hash_name" />
            <result property="description" column="description" />
            <result property="tradable" column="tradable" />
            <result property="commodity" column="commodity" />
            <result property="marketTradableRestriction" column="market_tradable_restriction" />
            <result property="marketMarketableRestriction" column="market_marketable_restriction" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,appid,assetid,classid,instanceid,icon_url,
        name,type,market_name,market_hash_name,description,tradable,
        commodity,market_tradable_restriction,market_marketable_restriction
    </sql>
</mapper>
