<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.NotificationsMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Notifications">
            <id property="notificationId" column="notification_id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="sendTime" column="send_time" />
            <result property="isRead" column="is_read" />
    </resultMap>

    <sql id="Base_Column_List">
        notification_id,user_id,title,content,send_time,is_read
    </sql>
</mapper>
