<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Orders">
            <id property="orderId" column="order_id" />
            <result property="buyerId" column="buyer_id" />
            <result property="itemId" column="item_id" />
            <result property="purchaseTime" column="purchase_time" />
            <result property="amount" column="amount" />
            <result property="paymentMethod" column="payment_method" />
            <result property="status" column="status" />
            <result property="expectedDeliveryTime" column="expected_delivery_time" />
            <result property="deliveryInfo" column="delivery_info" />
    </resultMap>

    <sql id="Base_Column_List">
        order_id,buyer_id,item_id,purchase_time,amount,payment_method,
        status,expected_delivery_time,delivery_info
    </sql>
</mapper>
