<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.RentalsMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.Rentals">
            <id property="rentalId" column="rental_id" />
            <result property="itemId" column="item_id" />
            <result property="renterId" column="renter_id" />
            <result property="ownerId" column="owner_id" />
            <result property="rentalPrice" column="rental_price" />
            <result property="startDate" column="start_date" />
            <result property="endDate" column="end_date" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        rental_id,item_id,renter_id,owner_id,rental_price,start_date,
        end_date,status
    </sql>
</mapper>
