<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.debuff.debuffbackend.mapper.SteamAuthTokensMapper">

    <resultMap id="BaseResultMap" type="com.debuff.debuffbackend.entity.SteamAuthTokens">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="steamloginsecure" column="steamloginsecure" />
            <result property="steamId" column="steam_id" />
            <result property="expireTime" column="expire_time" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,steamloginsecure,steam_id,expire_time,created_at,
        updated_at,status
    </sql>
</mapper>
